body{
  background-color: rgb(130, 235, 235);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 20%;
  margin: 0 auto;
}

#login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.dashboard-container {
  height: 400px;
  width: 100vw;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto;
  grid-template-areas: 
    ". header ."
    ". cards ."
    ". notifications .";
}

.welcome-header {
  grid-area: header;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  grid-area: cards;
  width: 100%;
}

.card {
  width: 30%;
  padding: 25px;
  margin-top: 50px;
  margin-right: 25px;
}

.slider-width {
  width: 200px;
}

.notifications-container {
  margin-top: 50px;
  grid-area: notifications;
  height: 100px;
}

#login-page-photo {
  background-image: url(./assets/login-page.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 200px;
  width: 500px;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
}

#container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 80%;
}

#logout {
  margin-left: 15px;
  margin-bottom: 20px;
}